body {

}


#menu {
    height: 125px;
    line-height: 125px;
}

#banner {
    background-image: url("../images/4x4-adventure-automobile-1571783.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 554px;
    width:960px;
}

#box {
    position: absolute;
    background-color: black;
    opacity: 0.7;
    width: 480px;
    height: 554px;
}

#imageholder {
    position: absolute;
    width: 310px;
    height: 220px;

}

#image {
    position: relative;
    width: 291px;
    height: 199px;
}

#text1 {
    position: relative;
    color: white;
    font-size: 13px;
    padding-left: 30px;
    padding-top: 105px;
}

#text2 {
    position: relative;
    font-size: 10px;
    padding-left: 300px;
    padding-top: 0px;

}

#footer {
    color: white;
    width: 960px;
    height: 80px;
    background-color: black;
    line-height: 80px;
}
#wrapper {
    width: 960px;
}

.mainSize {
    height: 554px;
    width:960px;

}

.borderThin {
    border: 1px solid black;
}

.helvetica {
    font-family: Helvetica, "Helvetica Neue", sans-serif;
}

.marginCenter {
    margin-right: auto;
    margin-left: auto;
}

.displayInline {
    display: inline;
}

.floatLeft {
    float: left;
}

.clearMargin {
    margin: 0px;
}
.clearPadding {
    padding: 0px;
}

.clearFix {
    clear: both;
}

.textRight {
    text-align: right;
}

.textLeft {
    text-align: left;
}

.textCenter {
    text-align: center;
}

